html, body, #root {
  height: 100%;
  width: 100%;
}

.navbar-header {
vertical-align: middle;
}

a.navbar-brand {
  width: 4.5em;
  display: flex;
  align-items: center;
  padding: 1.2em;
}

nav.navbar {
  background-color: rgba(5,5,214,.75);
  border: none;
}

nav #logo {
  width: 100%;
}
